<section class="services" id="services">

    <div class="dashboard">
     <nav class="sidebar">
       <div class="custom-menu">
         <div class="bx bx-menu" id="menu-icon"></div>
       </div>
      
       <ul class="">
         <li class="active">
           <a href="/"><span class="fa fa-home mr-3"></span> Homepage</a>
         </li>
         <li>
             <a href="/dashboard"><span class="fa fa-user mr-3"></span> Dashboard</a>
         </li>
         <li>
           <a href="/logout"><span class="fa fa-sign-out mr-3"></span> LogOut</a>
         </li>
         <li>
           <a href="/create-post"><span class="fa fa-sticky-note mr-3"></span> Create Post</a>
         </li>
         <li>
           <a href="#"><span class="fa fa-paper-plane mr-3"></span> Settings</a>
         </li>
         <li>
           <a href="#"><span class="fa fa-paper-plane mr-3"></span> Information</a>
         </li>
       </ul>
   
        </nav>
   